/* Sticky footer styles
-------------------------------------------------- */

/* social media icons */
.list-unstyled {
    font-size: 1.5rem;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    margin-top: 30px;
}

.container {
    min-height: 100%;
}

.page-wrap {
    min-height: 100%;
    position: relative;
}

body {
    min-height: 100%;
    padding-bottom:60px;   /* Height of the footer */
    background-color: #007bff1a;
}

footer {
    background-color: #0d4f779c;
 }
/*----------------------------------------------------------------Sticky footer */



/* nav bar */
.navbar {
    background-color: #0d4f77;
}

.fixed-top {
    padding: 3px 12px;
}

.navbar-brand {
    margin-left: 50px;
}

.navbar-brand,
.nav-link {
    color: #fff;
}

.navbar-toggler {
    background-color: #fff;
    border: 1px solid #000;
}

/*search bar */
.search-bar {
    margin-right: 50px;
}

.fa-search:before {
    color: #fff;
}

.form-control {
    width: 83%;
}

.navbar-toggler {
margin-right: 40px;
}

.Top-left-logo {
    width: 150px;
}

/* jumbotron */
.jumbotron {
    background: 
    linear-gradient(
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.8)
    ),url("https://gaming-hardware-milestone.s3-ap-southeast-2.amazonaws.com/media/images/glitch-2463363_1280.jpg");
    background-size: cover;
    opacity: 0.7;
    margin-top: 2em;
}

.logo-image {
    width: 450px;
}

@media only screen and (max-width: 490px) {
    .logo-image {
        width: 300px;
    }
}

.jumbotron_text {
    color: #fff;
}
.jumbotron_lower {
    margin-top: 2em;
    background: 
    linear-gradient(
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ),url("https://gaming-hardware-milestone.s3-ap-southeast-2.amazonaws.com/media/images/glitch+face.jpg");
    background-size: cover;
    opacity: 0.7;
    border-radius: 7px;
    margin: 30px;
}

/* .card.homepage-card {
    width: 15em;
} */

/*container withen jumbotron */
/* .container {
    color: #fff;
} */

/* forms for sign in and registration */
.loginregForm {
    margin: 0 auto;
}

/* cards for products */

/* product image in cards */
.product {
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    width: 15em;
    height: 15em;
    margin: 0 auto;
}

caption p {
    word-wrap: break-word;
}

.row.row-flex {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}

.card {
    padding: 0 10px;
}

.col-card {
    margin-bottom: 3.5em
}

.card-list {
    height: 100%;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

.card-body {
    color: black;
}

.product-description {
    min-height: 40px;
}

.detail-button {
    display: block;
    margin: auto;
}

.container {
    padding-top: 1em;
}

/* home page carousel */
.carousel-control-next-icon,
.carousel-control-prev-icon {
    background-color: black;
    width: 35px;
    height: 35px;
}

.carousel-indicators {
    background-color: lightgrey;
    width: 25%;
    margin: 0 auto;
    bottom: -10px;
}

.carousel-image {
    margin-bottom: 1em;
}

/* plus and minus counter */
.qty .count {
    color: #000;
    display: inline-block;
    vertical-align: top;
    font-size: 25px;
    font-weight: 700;
    line-height: 30px;
    padding: 0 2px;
    min-width: 35px;
    text-align: center;
}

.qty .plus {
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    color: white;
    width: 30px;
    height: 30px;
    font: 30px/1 Arial, sans-serif;
    text-align: center;
    border-radius: 50%;
}

.qty .minus {
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    color: white;
    width: 30px;
    height: 30px;
    font: 30px/1 Arial, sans-serif;
    text-align: center;
    border-radius: 50%;
    background-clip: padding-box;
}

div {
    text-align: center;
}

.minus:hover {
    background-color: #717fe0 !important;
}

.plus:hover {
    background-color: #717fe0 !important;
}

/*Prevent text selection*/
span {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

input {
    border: 0;
    width: 60%;
}

nput::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input:disabled {
    background-color: white;
}


/* checkout */

.btn-primary {
    margin-top: 1.5em;
    border-radius: .3rem;
    width: 70%;
}

.form-group {
    margin:0 auto;
}

.form-control {
    width: 100%;
}

.container mt-4 pl-4 {
    margin: 0 auto;
}

.checkout-items, col-lg-4 {
    margin: 0 auto;
}

.price-total, mt-4 {
    margin: 0 auto;
}

/* enquiry */

.btn.btn-enquiry {
    margin-top: 1.5em;
    border-radius: .3rem;
    color: #fff;
    background-color: #007bff;
}

.container-fluid {
    margin-top: 5em;
}

.contact {
    display: flex;
    text-align: center;
    justify-content: center;
    background-color: grey;
    color: black;
    font-size: 20px;
    margin: 0px;
    padding: 20px;
}

.center-form {
    display: flex;
    text-align: center;
    justify-content: center;
}

#form {
    margin-top: 20px;
}

#form>input {
    margin: 0 auto;
    width: 45vw;
    height: 30px;
    text-align: center;
}

#form>textarea {
    height: 80px;
    width: 45vw;
    margin: 0 auto;
    text-align: center;
}

.btn.btn-enquiry {
    margin-top: 20px;
    margin-bottom: 20px;
}

/* carousel images */
.carousel-image {
    width: 400px;
}


/* cart */
.remove {
    border: 0;
    background: inherit;
    color: #ff0000;
    font-size: 20px;
    font-weight: bold;
}

.btn-primary-cart-update {
    border-radius: .3rem;
    color: #fff;
    background-color: #007bff;
}

.btn-primary-checkout {
    margin-top: 1.5em;
    border-radius: .3rem;
    color: #fff;
    background-color: #007bff;
}

/*email */
.container-fluid {
    margin-top: 9em;
}