{% extends 'base.html' %}

{% block page_title %}{{ user }}'s Profile{% endblock %}

{% block content %}

<div class="container">
    <h2 class="text-center mt-4 mb-4">Welcome {{ user }}</h2>
    <p><b>Email:</b> {{ user.email }}</p>
    <p><b>Username:</b> {{ user }}</p>
    <a class="btn btn-danger" href="{% url 'password_reset' %}">Change your password</a>
    <br>
    <br>
    <hr>
    
    <h3>Your Order will be sent to:</h3>
    <p><b>Order ID:</b> {{ order.id }}</p>
    <p><b>Name:</b> {{ order.full_name }}</p>
    <p><b>Phone number:</b> {{ order.phone_number }}</p>
    <p><b>Country:</b> {{ order.country }}</p>
    <p><b>Postcode:</b> {{ order.postcode }}</p>
    <p><b>Town or city:</b> {{ order.town_or_city }}</p>
    <p><b>Address 1:</b> {{ order.street_address1 }}</p>
    <p><b>Address 2:</b> {{ order.street_address2 }}</p>
    <p><b>Region:</b> {{ order.region }}</p>
    <p><b>Date Ordered:</b> {{ order.date }}</p>
  
    <hr>


    <div class="text-center mt-4">
        <a class="btn btn-info" href="{% url 'index' %}">back to home</a>
    </div>
</div>

{% endblock %}