<nav class="navbar navbar-expand-lg fixed-top">

    <!-- Navbar brand -->
    <a class="navbar-brand" href="{% url 'index' %}"><img class="Top-left-logo"
        src="https://gaming-hardware-milestone.s3-ap-southeast-2.amazonaws.com/media/images/Glitchlogo.png"
        alt="Logo"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fa fa-bars fa-lg nav-button"></i>
    </button>

    <!-- Collapsible content -->
    <div class="navbar-collapse collapse" id="navbarSupportedContent">
        <ul class="navbar-nav d-flex justify-content-end">

            {% if user.is_authenticated %}
            <!-- Dropdown -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-user"></i> {{user}}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'profile' %}">User Profile</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'logout' %}">Log Out</a>
                </div>
            </li>
            {% else %}

            <!-- Links -->
            <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'registration' %}">Register</a>
            </li>
            {% endif %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'view_cart' %}">
                    <i class="fa fa-shopping-cart"></i> Cart
                    {% if product_count > 0 %}
                    <label class="badge badge-warning">{{ product_count }}</label>
                    {% endif %}
                </a>
            </li>

            <!-- Dropdown -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-cogs"></i> Department
                </a>

                
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Products</a>
                    <a class="dropdown-item" href="{% url 'products' 'V' %}">Video Cards</a>
                    <a class="dropdown-item" href="#">Hard Drives</a>
                    <a class="dropdown-item" href="#">Memory</a>
                    <a class="dropdown-item" href="#">CPU</a>
                    <a class="dropdown-item" href="#">Cases</a>
                    <a class="dropdown-item" href="#">Cooling</a>
                    <a class="dropdown-item" href="#">Mother Boards</a>
                    <a class="dropdown-item" href="#">Power Supplies</a>
                </div>
                
            </li>
        </ul>

        <!-- Search Bar -->
        <div class="search-bar ml-auto">
            <form action="{% url 'search' %}" method="get" class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" name="q" aria-label="Search">
                <button class="btn btn-outline-primary my-2 my-sm-0" type="submit"><i class="fa fa-search"></i></button>
            </form>
        </div>
    </div>
</nav>