{% extends 'base.html' %} 

{% block page_title %}{{ object.name }}{% endblock %}

{% block page_heading %}{{ object.name }}{% endblock %}

{% block content %}

<h5 class="detail-title">Category: {{ object.get_category_display }}</h5>

<!-- return button takes user back to products -->
<a href="{% url 'products' %}" class="btn btn-dark back-button">Back To Shop</a>


<div class="row">
    <div class="col-md-6">
        <div class="product" style="background-image: url('{{ MEDIA_URL }}{{ object.image }}')"></div>
    </div>
    <div class="col-md-6 text-left">
        <h5 class="detail-title">{{ object.name }}</h5>
        <hr class="break1">
        <p class="card-text">{{ object.description|linebreaks }}</p>
        <hr class="break2">
        <p><strong>${{ object.price }}</strong></p>
        <form method="post" action="{% url 'add_to_cart' object.id %}">
            {% csrf_token %}
            <div class="input-group detail-button">
                <span class="input-group-btn">
                    <button class="btn btn-success cart-add" type="submit">Add To Cart</button>
                </span>
            </div>
        </form>
    </div>
</div>


{% endblock %}